* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #1B6CA8, #6B4F3B);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD MODERNO (VIDRO) */
.card {
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(15px);
  padding: 40px 30px;
  border-radius: 20px;
  width: 350px;
  text-align: center;
  box-shadow: 0 20px 50px rgba(0,0,0,0.4);
  color: white;
}

/* LOGO */
.logo {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 5px;
}

p {
  font-size: 13px;
  color: #ccc;
  margin-bottom: 25px;
}

/* INPUT MODERNO */
.input-group {
  position: relative;
  margin-bottom: 18px;
}

.input-group input {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.2);
  outline: none;
  background: transparent;
  color: white;
  font-size: 14px;
  transition: 0.3s;
}

.input-group input::placeholder {
  color: #aaa;
}

/* FOCO BONITO */
.input-group input:focus {
  border-color: #2D9CDB;
  box-shadow: 0 0 10px rgba(45,156,219,0.5);
}

.input-group input:focus {
  border-color: #2D9CDB;
  box-shadow: 0 0 12px rgba(45,156,219,0.5);
}

/* BOTÃO TOP */
button {
  width: 100%;
  padding: 13px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(135deg, #2D9CDB, #1B6CA8);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 20px rgba(45,156,219,0.5);
}

/* LINKS */
.link {
  display: block;
  margin: 10px 0;
  font-size: 13px;
  color: #2D9CDB;
  cursor: pointer;
}

.register {
  margin-top: 15px;
  font-size: 14px;
}

.hidden {
  display: none;
}
